@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Connexion</title>
</head>
<body>
    <h1>Connexion</h1>

    <form action="" class="FormulaireClient" method="post">


        <div>
            <label for="">Nom</label>
            <input type="text" name="" id="inputname"></br>
        </div>


        <div>
            <label for="">Email</label>
            <input type="email" name="" id="inputemail" placeholder=> </br>
        </div>

        <div>
            <label for="">Password</label>
            <input type="email" name="" id="inputPassword" placeholder=> </br>
        </div>

        


    </form>
    <button id="ButtonSendForm">Send</button>
</body>
</html>
