@{
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Inscription</title>
</head>
<body>
    <form asp-action="Inscription" class="FormulaireClient" method="post">


        <div>
            <label for="">Nom</label>
            <input type="text" name="" id="inputname"></br>
        </div>


        <div>
            <label for="">Email</label>
            <input type="email" name="" id="inputemail"> </br>
        </div>

        <div>
            <label for="">password</label>
            <input type="password" name="" id="inputpassword" > </br>
        </div>

        <div>
            <label for="">Confirm Password</label>
            <input type="password" name="" id="inputconfirmpassword"> </br>
        </div>

    </form>
    <button id="ButtonSendForm">Send</button>
</body>
</html>
